h1{
    font-family: 'Peddana', serif;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  h4{
    font-family: 'Peddana', serif;
  }
  span{
    font-family: 'Peddana', serif;
  }
  .overlay{
    background-color:rgb(88, 86, 86);
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
  }
  #name{
    color:black;
    font-weight: 600;
    font-size: 20px;
  }
  .all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #quotes-button{
    float: right;
  }
  .card{
    margin-bottom: 2%;
    background-color: rgb(216, 209, 215);
    box-shadow: 2px 2px 3px 2px rgb(34, 34, 34);
  }
  #date{
    float: left;
    font-size: 14px;
  }
  #datecolor{
    color: rgb(22, 22, 22);
    font-weight: 600;
  }
  .card-text{
    font-family: 'Handlee', cursive;
    font-weight: 570;
    font-size: 18px;
  }